@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Alan Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Öne Çıkan Alan ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık1</th>
                                    <th scope="col">Başlık2</th>
                                    <th scope="col">Başlık3</th>
                                    <th scope="col">Açıklama1</th>
                                    <th scope="col">Açıklama2</th>
                                    <th scope="col">Açıklama3</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FeatureID</td>
                                        <td>@item.Tittle1</td>
                                        <td>@item.Tittle2</td>
                                        <td>@item.Tittle3</td>
                                        <td>@item.Description1</td>
                                        <td>@item.Description2</td>
                                        <td>@item.Description3</td>
                                        <td><a href="/Feature/DeleteFeature/@item.FeatureID" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Feature/UpdateFeature/@item.FeatureID" class="btn btn-outline-warning">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Feature/CreateFeature/" class="btn btn-outline-success">Yeni Öne Çıkanl Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

